{% extends 'base.html.twig' %}

{% block title %}Manager index{% endblock %}
{# @var dictionaries Dictionary[] #}
{% block body %}
    <h1>Dictionaries</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Extra</th>
        </tr>
        </thead>
        <tbody>
        {% for dictionary in dictionaries %}
            <tr>
                <td>{{ dictionary.id }}</td>
                <td>{{ dictionary.description }}</td>
                <td>{{ dictionary.extra }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
