{% extends 'manager/dashboard.html.twig' %}

{% block title %}Budget index{% endblock %}

{% block dashboard_content %}
    <h1>Budget index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartDate</th>
                <th>Duration</th>
                <th>End date</th>
                <th>Contents</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for budget in budgets %}
            <tr>
                <td>{{ budget.id }}</td>
                <td>{{ budget.startDate ? budget.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ budget.duration ? budget.duration.format('%y year(s), %m month(s), %d day(s)') : '' }}</td>
                <td>{{ budget.endDate ? budget.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_manage_planning_list', { 'budget' : budget.id }) }}">Plannings</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('budget_new') }}">Create new</a>
{% endblock %}
