{% extends 'base.html.twig' %}

{% block title %}Budget{% endblock %}

{% block body %}
    <h1>Budget</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>StartDate</th>
                <td>{{ budget.startDate ? budget.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ budget.duration ? budget.duration.format('%y year(s), %m month(s), %d day(s)') : '' }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ budget.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('budget_index') }}">back to list</a>

    <a href="{{ path('budget_edit', {'id': budget.id}) }}">edit</a>

    {{ include('budget/_delete_form.html.twig') }}
{% endblock %}
