{% extends 'base.html.twig' %}

{% block title %}{{ itemName }}s list{% endblock %}

{% block body %}
    <h1>{{ itemName }}s list</h1>

    <table class="table">
        <thead>
        <tr>
            {% include(templateHeader ~ '.html.twig') %}
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                {% include(templateBody ~ '.html.twig') %}
            </tr>
        {% else %}
            <tr>
                <td colspan="{{ propertyLength }}">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
