<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('style/bootstrap-4.4.1.min.css') }}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link href="{{ asset('style/select2-4.0.13.min.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    {% block javascripts %}
        <script src="{{ asset('javascript/jquery-3-3-1.min.js') }}"></script>
        <script src="{{ asset('javascript/poper-1.16.0.min.js') }}"></script>
        <script src="{{ asset('javascript/bootstrap-4.4.1.min.js') }}"></script>
        <script src="{{ asset('javascript/select2-4.0.13.min.js') }}"></script>
        <script src="{{ asset('javascript/serializeToJSON.js') }}"></script>
        <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    {% endblock %}
</html>
