{% extends 'base.html.twig' %}
{# @var title string #}
{# @var BackLink string #}
{# @var params array<string> #}
{# @var form array #}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    {{ include('form/default.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path(BackLink, params) }}">back to list</a>
{% endblock %}
