{# @var item \App\Entity\Transaction #}
<td>{{ item.uid }}</td>
<td>{{ item.transDate | format('Y-m-d') }}</td>
<td>{{ item.accountDate | format('Y-m-d') }}</td>
<td>{{ item.planning.id }}</td>
<td>{{ item.place.item }}</td>
<td>{{ item.description }}</td>
<td>{{ item.quote }}</td>
<td>{{ item.afterTransaction }}</td>
<td>{{ item.account.reference }}</td>