{% extends 'base.html.twig' %}

{% block title %}Transaction list{% endblock %}

{# @var items \App\Entity\Transaction[] #}
{% block body %}
    <h1>Transaction list</h1>

    <table class="table">
        <thead>
        <tr>
            <th>UID</th>
            <th>Transaction Date</th>
            <th>Account Date</th>
            <th>Planning</th>
            <th>Place</th>
            <th>Description</th>
            <th>Quote</th>
            <th>Balance after</th>
            <th>Account</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in items %}
            <tr>
                <td>{{ transaction.uid }}</td>
                <td>{{ transaction.transDate | format('Y-m-d') }}</td>
                <td>{{ transaction.accountDate | format('Y-m-d') }}</td>
                <td>{{ transaction.planning.id }}</td>
                <td>{{ transaction.place.item }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.quote }}</td>
                <td>{{ transaction.afterTransaction }}</td>
                <td>{{ transaction.account.reference }}</td>
                <td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
