{% extends 'base.html.twig' %}

{% block title %}Planning list{% endblock %}

{# @var items \App\Entity\Planning[] #}
{% block body %}
    <h1>Planning list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Kind</th>
                <th>Department</th>
                <th>Planned</th>
                <th>Remained</th>
                <th>Used</th>
                <th>Closed at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for planning in items %}
            <tr>
                <td>{{ planning.id }}</td>
                <td>{{ planning.kind.description }}</td>
                <td>{{ planning.department.description }}</td>
                <td>{{ planning.planned }}</td>
                <td>{{ planning.remained }}</td>
                <td>{{ planning.used }}</td>
                <td>{{ planning.closedAt ? planning.closedAt|date('Y-m-d H:i:s') : 'Not closed' }}</td>
                <td>
                    <a href="{{ path('app_manage_planning_show', {
                        'planning': planning.id,
                        'budget': planning.budget.id
                    }) }}">show</a>
                    <a href="">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_manage_planning_new', {'budget': budget.id}) }}">Create new</a>
{% endblock %}
