{% extends 'base.html.twig' %}

{# @var budget \App\Entity\Budget #}

{% block title %}New Planning{% endblock %}

{% block body %}
    <h1>Create new planning</h1>

    {{ include('form/default.html.twig') }}

    <a href="{{ path('app_manage_planning_list', {'budget': budget.id}) }}">Back to list</a>
{% endblock %}
