{% extends 'base.html.twig' %}

{% block title %}Planning {% endblock %}

{% block body %}
    <h1>Planning</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ planning.id }}</td>
            </tr>
            <tr>
                <th>Kind</th>
                <td>{{ planning.kind.item }}</td>
            </tr>
            <tr>
                <th>Department</th>
                <td>{{ planning.department.item }}</td>
            </tr>
            <tr>
                <th>Planned</th>
                <td>{{ planning.planned }}</td>
            </tr>
            <tr>
                <th>Remained</th>
                <td>{{ planning.remained }}</td>
            </tr>
            <tr>
                <th>Used</th>
                <td>{{ planning.used }}</td>
            </tr>
            <tr>
                <th>Prepaid</th>
                <td>{% if planning.prepaid %}Prepaid{% else %} Postpaid {% endif %}</td>
            </tr>
            <tr>
                <th>Closed At</th>
                <td>{% if planning.closedAt %}{{ planning.closedAt | date('Y-m-d H:i:s') }}{% else %} Not closed yet {% endif %}</td>
            </tr>
            <tr>
                <th>Operations</th>
                <td>
                    <div class="btn-group">
                        <a class="btn" href="">Transactions</a>
                        <a class="btn" href="">Change planned quote</a>
                        <a class="btn" href="">Close planning</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_manage_planning_list', {'budget': planning.budget.id}) }}">Back to list</a>
{% endblock %}
