{% extends 'base.html.twig' %}

{% block title %}Dictionary items{% endblock %}
{# @var dictionary Dictionary #}
{# @var items DictionaryItem[] #}
{% block body %}
    <h1>Items of dictionary {{ dictionary.id }}</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Item</th>
            <th>Description</th>
            <th>Extra</th>
            {% if 'ROLE_ADMIN' in app.user.roles %}
                <th>
                    Actions
                </th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.item }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.extra }}</td>
                {% if 'ROLE_ADMIN' in app.user.roles %}
                    <td>
                        <a href="{{ path('app_admin_dictionaryItem_edit', { 'id' : item.id }) }}">Edit</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
