<form method="post" action="{{ path('app_manager_delete', {'id': manager.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ manager.id) }}">
    <button class="btn">Delete</button>
</form>
