{% extends 'base.html.twig' %}
{# @var manager App\Entity\Manager #}
{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1>Dashboard</h1>
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_manager_logout') }}">Logout</a>
        </div>
    {% endif %}

    <nav class="navbar navbar-dark bg-primary">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item {% if 'app_manager_dashboard' == app.request.attributes.get('_route') %}active{% endif %}">
                        <a class="nav-link" href="{{ path('app_manager_dashboard') }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% if 'account_index' == app.request.attributes.get('_route') %}active{% endif %}">
                        <a class="nav-link" href="{{ path('account_index') }}">Accounts</a>
                    </li>
                    <li class="nav-item {% if 'budget_index' == app.request.attributes.get('_route') %}active{% endif %}">
                        <a class="nav-link" href="{{ path('budget_index') }}">Budgets</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% if 'ROLE_ADMIN' in app.user.roles %}{{ path('app_admin_dictionary_index') }}{% else %}#{% endif %}" id="dictionaries" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dictionaries
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dictionaries">
                            {%  for dictionary in getDictionaries(app.user) %}
                                <a class="dropdown-item" href="{{ path('app_admin_dictionaryItem_show', {'dictionary': dictionary.id}) }}">{{ dictionary.id }}</a>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </nav>

    {% block dashboard_content %}
    {% endblock %}

{% endblock %}
