{% extends 'base.html.twig' %}

{% block title %}Zestawienie{% endblock %}

{% block body %}
    <h1>Zestawienie roku {{ year }} </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Konto</th>
                <th>Referencja</th>
                <th>Wartosc poprzednia</th>
                {% for month in months %}
                    <th>{{ month | localizeddate('none', 'none', app.request.locale, "Europe/Paris", "MMM") }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
                <tr>
                    <td>{{ account.name }}</td>
                    <td>{{ account.reference }}</td>
                    <td>0</td>
                    {% for month in months %}
                        <td>0</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
