{% extends 'manager/dashboard.html.twig' %}

{% block title %}Edit Account{% endblock %}

{% block dashboard_content %}
    <h1>Edit Account</h1>

    {{ include('account/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('account_index') }}">back to list</a>

    {{ include('account/_delete_form.html.twig') }}
{% endblock %}
