{% extends 'manager/dashboard.html.twig' %}
{# @var accounts \App\Entity\Account[] #}
{% block title %}Account index{% endblock %}

{% block dashboard_content %}
    <h1>Account index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Reference</th>
                <th>Kind</th>
                <th>Current balance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td>{{ account.id }}</td>
                <td>{{ account.name }}</td>
                <td>{{ account.reference }}</td>
                <td>{{ account.kind.description }}</td>
                <td>0.00</td>
                <td>{{ account.kind.item }}</td>
                <td>
                    <a href="{{ path('account_history_index', {'account': account.id}) }}">History</a>
                    <a href="{{ path('account_close', {'account': account.id}) }}">Close</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('account_new') }}">Create new</a>
{% endblock %}
