{% extends 'manager/dashboard.html.twig' %}

{% block title %}New Account{% endblock %}

{% block dashboard_content %}
    <h1>Create new Account</h1>

    {{ include('account/_form.html.twig') }}

    <a href="{{ path('account_index') }}">back to list</a>
{% endblock %}
