{% extends 'manager/dashboard.html.twig' %}

{% block title %}Account{% endblock %}

{% block dashboard_content %}+
    <h1>Account</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ account.name }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ account.reference }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ account.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('account_index') }}">back to list</a>

    <a href="{{ path('account_edit', {'id': account.id}) }}">edit</a>

    {{ include('account/_delete_form.html.twig') }}
{% endblock %}
